:root {
  --background: #0b0b0c;
  --primary: #111214;
  --secondary: #242931;
  --tertiary: #2e2e35;
  --text: #D9D9D9;
  --accent: #c299cf;

  --rounding: 16px;
  --rounding-lesser: 12px;

  --sidebar-width: 420px;
  --button-height: 64px;
}

.rounded {
  border-radius: 16px;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: var(--sidebar-width);
  position: relative;
}

#profile .pfp {
  border-radius: var(--rounding-lesser);
  aspect-ratio: 1;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#buttons {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.selected {
  background-color: var(--secondary);
}

.shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

#buttons .button {
  box-sizing: border-box;
  width: 100%;
  height: var(--button-height);
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 16px;

  transition: background-color 0.05s ease-in-out;

  &>p {
    font-size: 25px;
  }

  &>.icon {
    aspect-ratio: 1;
    width: 48px;
  }
}

#buttons .button:hover {
  background-color: var(--secondary);
}

#sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 90%;
  background-color: var(--secondary);
  transform: translateY(5%);
}


p {
  color: var(--text);
  margin: 0px;
}